<header>
  <div style="width:100%; background:#241a35;">
    <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-center" >
      <a routerLink="/"><img class="navbar-brand" src="../assets/img/titulo.png" style="width:250px; padding: 15px 0; margin:0px"/></a>
    </nav>
  </div>
</header>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>