<div class="container mt-5">
    <div class="studentsContainer" style="width:100%">
      <h1 style="color:#241a35;">Estudiantes</h1>
      <div class="buttonsStudents d-flex flex-column">
        <button 
            (click)="navegarHaciaVerEstudiantes()"
            class="buttonStudents buttonStudents-r py-2 px-3 mt-3 text-align-left" 
        >
              Ver Estudiantes
        </button>
        <button 
          (click)="navegarHaciaBuscarEstudiante()"
          class="buttonStudents buttonStudents-r py-2 px-3 mt-3 text-align-left" 
        >
              Buscar Estudiante
        </button>
        <button 
          (click)="navegarHaciaAgregarEstudiante()"
          class="buttonStudents buttonStudents-r py-2 px-3 mt-3"
        >
              Agregar Estudiante
        </button>
  
        <button 
          (click)="navegarHaciaEditarEstudiante()"aquí voy ********************************************
          class="buttonStudents buttonStudents-r py-2 px-3 mt-3"
        >
              Editar Estudiante
        </button>
      </div>
    </div>
    <div class="groupsContainer mt-5 d-flex flex-column align-items-end" style="width:100%">
      <h1 style="color:#25a2ac;">Grupo</h1>
      <div class="buttonsStudents d-flex flex-column align-items-end" style="width:100%">
        <button 
          (click)="navegarHaciaVerGrupos()"
          class="buttonStudents buttonStudents-l py-2 px-3 mt-3"
        >
            Ver Grupos
        </button>
        <button 
          (click)="navegarHaciaBuscarGrupo()"
          class="buttonStudents buttonStudents-l py-2 px-3 mt-3"
        >
            Buscar Grupo
        </button>
        <button 
        (click)="navegarHaciaAgregarGrupo()"
          class="buttonStudents buttonStudents-l py-2 px-3 mt-3"
        >
            Agregar Grupo
        </button>
      </div>
    </div>
    <div class="signaturesContainer mt-5 mb-5" style="width:100%">
      <h1 style="color:#241a35;">Materias</h1>
      <div class="buttonsStudents d-flex flex-column">
        <button 
          (click)="navegarHaciaVerMaterias()"
          class="buttonStudents buttonStudents-r py-2 px-3 mt-3 text-align-left" 
        >
              Ver Materias
        </button>
        <button 
          (click)="navegarHaciaBuscarMateria()"
          class="buttonStudents buttonStudents-r py-2 px-3 mt-3 text-align-left" 
        >
              Buscar Materia
        </button>
        <button 
          (click)="navegarHaciaAgregarMateria()"
          class="buttonStudents buttonStudents-r py-2 px-3 mt-3"
        >
              Agregar Materia
        </button>
      </div>
    </div>
  </div>