<div class="container mt-5">
    <div class="veTitleContainer d-flex flex-column align-items-center">
        <form class="d-flex flex-column align-items-center" (ngSubmit)="onSubmit()">
            <div class="form-group d-flex flex-column align-items-center">
                <label for="codigo">Digite el código de la Materia</label>
                <input type="text" class="form-control" id="codigo" aria-describedby="emailHelp" name="codigo"
                    [(ngModel)]="codigo" required>
            </div>
            <button type="submit" class="btn btn-primary"
                style="width:100%; background:#241a35; border:1px solid #241a35">
                Enviar
            </button>
        </form>
        <div class="mt-5 d-flex flex-column align-items-center justify-content-center px-4 py-4"
            style="width:100%; border:1px solid black" *ngIf="materia != null">
            <div class="d-flex align-items-end" style="width:100%">
                <button class="px-2 py-2" (click)="onDelete()"
                    style="border:none; border-radius:50%; background:#25a2ac">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path style="color:red" fill-rule="evenodd"
                            d="M16 1.75V3h5.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H8V1.75C8 .784 8.784 0 9.75 0h4.5C15.216 0 16 .784 16 1.75zm-6.5 0a.25.25 0 01.25-.25h4.5a.25.25 0 01.25.25V3h-5V1.75z">
                        </path>
                        <path style="color:red"
                            d="M4.997 6.178a.75.75 0 10-1.493.144L4.916 20.92a1.75 1.75 0 001.742 1.58h10.684a1.75 1.75 0 001.742-1.581l1.413-14.597a.75.75 0 00-1.494-.144l-1.412 14.596a.25.25 0 01-.249.226H6.658a.25.25 0 01-.249-.226L4.997 6.178z">
                        </path>
                        <path style="color:red"
                            d="M9.206 7.501a.75.75 0 01.793.705l.5 8.5A.75.75 0 119 16.794l-.5-8.5a.75.75 0 01.705-.793zm6.293.793A.75.75 0 1014 8.206l-.5 8.5a.75.75 0 001.498.088l.5-8.5z">
                        </path>
                    </svg>
                </button>
            </div>
            
            <h2 class="text-center mb-5">Materia: {{materia.nombre}}</h2>
            <div class="row" style="width:100%;">
                <div class="containerDato col-sm-12 col-lg-3 d-flex flex-column align-items-center mb-3"
                    style="width:100%">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        codigoMateria
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        {{materia.codigo}}
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-3 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        Nombre
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        {{materia.nombre}}
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-3 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        profesor
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        {{materia.profesor}}
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-3 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        grados
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        {{materia.grados}}
                    </div>
                </div>
            </div>
        </div>
        <div class="btnVolver-container d-flex justify-content-center mt-4 mb-4">
            <button (click)="NavegarHaciaInicio()" class='btnVolver py-2 px-3'>
                Volver
            </button>
        </div>
    </div>
</div>