<div class="container mt-5">
    <div class="veTitleContainer d-flex flex-column align-items-center">
        <h1>Grupos</h1>
        <div 
            class="mt-5 d-flex flex-column align-items-center justify-content-center px-4 py-4" 
            style="width:100%; border:1px solid black"
        >
            <h2 class="text-center mb-5">Estudiantes del Grupo {{grupo}}</h2>
            <div 
                class="row" 
                style="width:100%;"
            >
                <div class="containerDato col-sm-12 col-lg-4 d-flex flex-column align-items-center mb-3"*ngFor="let relacion of relaciones">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        codigoEstudiante
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        {{relacion.grupo}}
                    </div>
                </div>
            </div>
            <div class="btnVolver-container d-flex justify-content-center mt-4">
                <button (click)="VolverHaciaGrupos()" class='btnVolver py-2 px-3'>
                    Volver
                </button>
            </div>
        </div>
    </div>
</div>