<div class="container mt-5">
    <div class="veTitleContainer d-flex flex-column align-items-center">
        <h1>Estudiantes</h1>
        <div class="row" style="width:100%">
            <div class="col-sm-12 col-md-2 d-flex flex-column align-items-center">
                <div class=" containerDato2 text-center">
                    codigoEstudiante
                </div>
                <div class="containerDato3 text-center">
                    100101
                </div>
            </div>
            <div class="containerDato p-4 col-sm-12 col-md-2 d-flex flex-column align-items-center">
                <div class="text-center">
                    Tipo de Documento
                </div>
                <div class="text-center">
                    T.I
                </div>
            </div>
            <div class="containerDato p-4 col-sm-12 col-md-2 d-flex flex-column align-items-center">
                <div class="text-center">
                    Numero de Documento
                </div>
                <div class="text-center"> 
                    1001016727
                </div>
            </div>
            <div class="containerDato p-4 col-sm-12 col-md-2 d-flex flex-column align-items-center">
                <div class="text-center">
                    Nombre
                </div>
                <div class="text-center">
                    Jacobo Uribe Domínguez
                </div>
            </div>
            <div class="containerDato p-4 col-sm-12 col-md-2 d-flex flex-column align-items-center">
                <div class="text-center">
                    Genero
                </div>
                <div class="text-center">
                    Masculino
                </div>
            </div>
            <div class="containerDato p-4 col-sm-12 col-md-2 d-flex flex-column align-items-center">
                <div class="text-center">
                    Dirección
                </div>
                <div class="text-center">
                    Cra 42 D # 60 sur 60
                </div>
            </div>
            <div class="containerDato p-4col-sm-12 col-md-2 d-flex flex-column align-items-center">
                <div class="text-center">
                    Ciudad
                </div>
                <div class="text-center">
                    Medellín
                </div>
            </div>
            <div class="containerDato p-4 col-sm-12 col-md-2 d-flex flex-column align-items-center">
                <div class="text-center">
                    Telefono
                </div>
                <div class="text-center">
                    6123568
                </div>
            </div>
            <div class="containerDato p-4 col-sm-12 col-md-2 d-flex flex-column align-items-center">
                <div class="text-center">
                    Celular
                </div>
                <div class="text-center">
                    3054332172
                </div>
            </div>
            <div class="containerDato p-4 col-sm-12 col-md-2 d-flex flex-column align-items-center">
                <div class="text-center">
                    Correo
                </div>
                <div class="text-center">
                    jacouribe2003@gmail.com
                </div>
            </div>
        </div>
        <div class="btnVolver-container d-flex justify-content-center mt-4">
            <button (click)="NavegarHaciaInicio()" class='btnVolver py-2 px-3'>
                Volver
            </button>
        </div>
    </div>
</div>