<div class="container mt-5">
    <div class="veTitleContainer d-flex flex-column align-items-center">
        <h1>Estudiantes</h1>
        <div class="mt-5 d-flex flex-column align-items-center justify-content-center px-4 py-4" style="width:100%; border:1px solid black">
            <h2 class="text-center mb-5">Jacobo Uribe</h2>
            <div class="row" style="width:100%;">
                <div class="containerDato col-sm-12 col-lg-3 d-flex flex-column align-items-center mb-3" style="width:100%">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        codigoEstudiante
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        100101
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-3 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        Tipo de Documento
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        T.I
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-2 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        Numero de Documento
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        1001016727
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-2 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        Ciudad
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        Medellín
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-2 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        Genero
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        Masculino
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-3 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        Dirección
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        Cra 42 D # 60 sur 60
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-2 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        Telefono
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        6123568
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-3 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        Celular
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        3054332172
                    </div>
                </div>
                <div class="containerDato col-sm-12 col-lg-4 d-flex flex-column align-items-center mb-3">
                    <div class="card-topData d-flex flex-column justify-content-center text-center text-center p-3">
                        Correo
                    </div>
                    <div class="cardData text-center p-4 d-flex flex-column justify-content-center">
                        jacouribe2003@gmail.com
                    </div>
                </div>
            </div>
            <div class="btnVolver-container d-flex justify-content-center mt-4">
                <button (click)="NavegarHaciaInicio()" class='btnVolver py-2 px-3'>
                    Volver
                </button>
            </div>
        </div>
    </div>
</div>